# .gitignore file
 
# Python, distribution & packaging
build/
dist/
*.egg-info/
installer/windows/Output/
*.spec
.build-venv/
package-deb/
package-rpm/
package-arch/
package-macos/
rpmbuild/
arch-build/


# Environment
venv/
tests/

# IDE
.vscode
 
# .DS_Store 
**/.DS_Store
